/* background for game */
body {
  background-image: url("../images/bones.jpg");
}

/* styling for title */
header {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  font-family: comic;
}

/* button style */

start {
  float: center;
}