/* background for game */
body {
  background-image: url("../images/bones.jpg");
}

/* styling for title */
header {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  font-family: comic;
}

/* button style */
.start {
  background: grey;
  padding: 30px;
  align-content: center;
  opacity: .70;
}
.question {
  clear: both;
}

.totals {
  clear: right;
  border: 2px dotted grey;
  font-family: comic;
  font-size: 24px;


}